extends layout

block content
  h1 Season 2013/2014 completetion

  canvas(id="pie" width="400" height="400" class="left")

  div(id="percents" class="completetion left")

  script.
    var graph = new gra.Data(!{data});

    var ctx = document.getElementById("pie").getContext("2d");
    graph.renderPie(ctx);

    document.getElementById("percents").textContent = graph.getSeasonCompletetion() + " %";



