extends layout

block content
  h1(class="section-heading") Season 2013/2014 completetion

  div(class="col-xs-12 col-lg-8")
    div(id="chartdiv" style="height:500px;font-size: 11px;")

  div(class="visible-lg col-lg-4" )
    div(class="percent-wrapper")
      div(id="percents" class="completetion")

  script.
    var graph = new gra.Data(!{data});
    graph.renderPie('chartdiv');
    document.getElementById("percents").textContent = graph.getSeasonCompletetion() + " %";



