extends layout

block content
  h1= title
  p Welcome to #{title}

  //p #{data}

  canvas(id="pie" width="400" height="400")

  script.
    var graph = new gra.Data(!{data});

    var ctx = document.getElementById("pie").getContext("2d");
    graph.renderPie(ctx);



