doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/Chart.js')
    script(src='/javascripts/Data.js')
  body
    block content