doctype html
//- http://startbootstrap.com/full-width-pics
html
  head
    | <meta charset="utf-8">
    | <meta name="viewport" content="width=device-width, initial-scale=1.0">
    | <meta name="description" content="">
    | <meta name="author" content="">
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/full-width-pics.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')

    script(src='/javascripts/Graphs.js')
    script(src='/amcharts/amcharts.js')
    script(src='/amcharts/serial.js')
    script(src='/amcharts/pie.js')
    script(src='/amcharts/themes/light.js')



    | <!-- Matomo -->
    | <script type="text/javascript">
    |   var _paq = window._paq || [];
    |   /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    |   _paq.push(['trackPageView']);
    |  _paq.push(['enableLinkTracking']);
    |   (function() {
    |     var u="https://analytics.kraag22.com/";
    |     _paq.push(['setTrackerUrl', u+'matomo.php']);
    |     _paq.push(['setSiteId', '2']);
    |    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    |     g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    |   })();
    | </script>
    | <!-- End Matomo Code -->



  body


    include menu

    div(class="full-width-image-1")
      div(class="logo-wrapper")
        div(class="container")
          div(class="row section sc-background")
            block content

    include footer

    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')

