extends layout

block content
  h1 Who played with
    select(id="players" onchange="update();" class="player-select")




  div(class="col-xs-12 col-sm-10 col-sm-offset-1")
    div(id="chartdiv" style="height:500px;font-size: 11px;")

  script.
    var graph = new Graphs(!{data});

    var players = graph.getPlayers(2);
    var selectedPlayer = "B";
    var select = document.getElementById('players');

    for (var player in players) {
        console.log(player);
        var opt = document.createElement("option");
        opt.value = player;
        opt.text = players[player];
        if (player == selectedPlayer) {
            opt.selected = true;
        }
        select.appendChild(opt);
    }

    var graph = new Graphs(!{data});
    graph.renderChart("chartdiv", selectedPlayer);

    var update = function() {
        var myselect = document.getElementById("players");
        var selected = myselect.options[myselect.selectedIndex].value;
        graph.renderChart("chartdiv", selected);
    };