nav(class='navbar navbar-fixed-top navbar-inverse', role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') season 2014/2015
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href='/totals') wins & looses
        li
          a(href='/mates') teams
    // /.navbar-collapse
  // /.container