nav(class='navbar navbar-fixed-top navbar-inverse', role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      .dropdown
        a#dropdownMenu1.navbar-brand.dropdown-toggle(href='/',data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
          = 'Season ' + season + '/' + (season+1)
          span.caret
        ul.dropdown-menu(aria-labelledby='dropdownMenu1')
          for item in seasons
            li
              a(href='?season=' + item)
                = item + '/' + (item + 1)

    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href='/') wins & looses
        li
          a(href='/mates') teams
        li
          a(href='/completion') completion
    // /.navbar-collapse
  // /.container
