extends layout

block content
  h1 Total wins & looses

  canvas(id="bar" width="1000" height="600")

  script.
    var graph = new gra.Data(!{data});

    var ctx = document.getElementById("bar").getContext("2d");
    graph.renderBar(ctx);
