extends layout

block content
  h1 Total wins & looses


  div(class="col-xs-12 col-sm-10 col-sm-offset-1")
    div(id="chartdiv" style="height:500px;font-size: 11px;")

  script.
    var graph = new Graphs(!{data});
    graph.renderBar("chartdiv");


