body
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
    color: #00B7FF

div.completetion
    font-size: 10em
    margin-top 130px
    margin-left 40px

.left
    float left