div.completetion {
  font-size: 10em;
}
.sc-background {
  background-color: rgba(222,222,222,0.8);
}
.player-select {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin: 0;
  margin-left: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.percent-wrapper {
  height: 500px;
  display: table-cell;
  vertical-align: middle;
}

#chance-list {
  font-size: 1.5em;
}

#chance-list li {
  list-style-type: none;
}

.velocity {
  font-size: 0.9em;
}

.velocity.positive {
  color: green;
}

.velocity.negative {
  color: red;
}
